@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #9CA3AF;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin:20px 10px;
}

.parent{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 70px 150px 300px 70px;
    grid-row-gap: 10px;
    grid-column-gap:10px;
    width: 100%;
    max-width: 1200px;
    grid-template-areas: 
    "h-box h-box h-box"
    "n-box m-box m-box"
    "a-box m-box m-box"
    "f-box f-box f-box";
}

.h-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A5B4FC ;
    border-radius: 15px 15px 0 0;
    grid-area: h-box ;
}

.n-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2CCED2;
    border-radius: 8px;
    grid-area: n-box ;
}

.a-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DC828F;
    border-radius: 8px;
    grid-area: a-box ;
}

.m-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDE68A;
    grid-column-gap: 10rem;
    border-radius: 8px;
    grid-area: m-box ;
}

.f-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6EE7B7;
    border-radius: 0 0 15px 15px;
    grid-area: f-box ;
}

p{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 30px;
}